:root{

    --bg:#070B18;

    --sidebar:#10111F;

    --card:#15182A;

    --border:#25284A;

    --text:#FFFFFF;

    --text-secondary:#8E93B7;

    --purple:#9D5CFF;

    --green:#16F260;

    --yellow:#F5E400;

    --pink:#EA45D9;

}