.genre-row{
    margin-bottom:22px;
}

.genre-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
}

.genre-top span:first-child{
    color:white;
    font-weight:500;
}

.genre-top span:last-child{
    color:#8b8daa;
}

.genre-bar{
    height:8px;
    border-radius:20px;
    background:#232544;
    overflow:hidden;
}

.genre-fill{
    height:100%;
    border-radius:20px;
    background:linear-gradient(90deg,#a855f7,#d946ef);
    transition:.3s;
}