.stat-card{

background:#101126;

border:1px solid #24264d;

border-radius:18px;

padding:22px;

display:flex;

align-items:center;

gap:18px;

transition:.2s;

}

.stat-card:hover{

border-color:#8b5cf6;

}

.stat-icon{

width:54px;

height:54px;

border-radius:50%;

background:#1b1d36;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:#9b5cff;

}

.stat-content h2{

font-size:42px;

font-weight:700;

margin:0;

}

.stat-content p{

margin:0;

color:#8b8daa;

}