.sidebar{

width:260px;

min-width:260px;

height:100vh;

background:#0d0f22;

border-right:1px solid #22264a;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:28px;

position:sticky;

top:0;

}

.logo{

    width:100%;

    margin-bottom:40px;

}

.logo-image{

    width:100%;

    height:auto;

    object-fit:contain;

    display:block;

}


.user-card{

display:flex;

align-items:center;

gap:15px;

padding:18px;

background:#171931;

border-radius:18px;

margin-bottom:40px;

}

.avatar{

width:58px;

height:58px;

min-width:58px;

border-radius:50%;

background:white;

color:black;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

font-size:22px;

flex-shrink:0;

}

.user-info h4{

margin:0;

font-size:24px;

}

.user-info span{

color:#8c90b4;

font-size:15px;

}

.menu-title{

font-size:13px;

letter-spacing:3px;

color:#7d81a8;

margin:35px 0 18px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:8px;

}

.sidebar a{

display:flex;

align-items:center;

gap:15px;

padding:14px 16px;

border-radius:14px;

color:#d0d2e8;

transition:.2s;

font-size:17px;

text-decoration:none;

}

.sidebar a:hover{

background:#171931;

}

.sidebar a.active{

background:#24284d;

font-weight:600;

}

.sidebar svg{

font-size:20px;

}

.bottom-menu{

margin-top:auto;

}

.sidebar nav{
    margin-bottom:20px;
}

.sidebar .bottom-menu{
    margin-top:auto;
}