*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#070714;
    color:white;
    font-family:Inter, sans-serif;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    border:none;
    background:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#2f3156;
    border-radius:20px;
}